.flex-container, 
.flex-container-left, 
.flex-container-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-left {
  justify-content: left;
}

.flex-container-center {
  justify-content: center;
}